[defaults]
inventory = inventory/hosts.yml
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = false
interpreter_python = auto_silent
inject_facts_as_vars = False
deprecation_warnings = False

[privilege_escalation]
become = false
become_ask_pass = true
